

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model GitTrio.Models.Cupcake


<p>@Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayFor(model => model.Price)</p>
<p>@Html.DisplayFor(model => model.Cake)</p>
<p>@Html.DisplayFor(model => model.Frosting)</p>
<p>@Html.DisplayFor(model => model.Topping)</p>
<img src="@Html.DisplayFor(model => model.ImgUrl)" alt="Alternate Text" />

